
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Ir a la lista", "Lista", "Productos", null) <br/>
        <a href="/Productos/lista">Click para ir a la lista</a>
    </div>
</body>
</html>
