@model IEnumerable<_02___Hello_World_MVC.RouteConfig>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>lista</title>
</head>
<body>
    <ul style="list-style-type:square">
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>Nojeque</li>
        <li>Nojecuantos</li>
        <li>Buf</li>
    </ul>
</body>
</html>
