
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form>
             <input type="submit" formmethod="post" value="Conectar"/><br />
             ¿Conectado?: @ViewData["Estado"]
        </form>
    </div>
</body>
</html>
